body{
    font-family: 'Mochiy Pop One', sans-serif;
font-family: 'Poppins', sans-serif;
margin: 100px;
}
h1{
 font-size: 60px;   
}
h5{
    font-size: 11px;
}
.orange-color{
    color: orange;

}
.flex-contain{
    display: flex;
    margin-bottom: 140px;
}
.half-width{
    width: 50%;
}
.half-width img{
    width:60%;
    padding-left: 10%;
}
.anchor-tag{
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(tomato, tomato);
    color: white;
    padding: 10px 40px;
    font-weight: 700;
    border-radius: 5px;

}
.top-slice{
    border-left: 5px solid;
    border-image: linear-gradient(rgb(216, 92, 71), rgb(172, 91, 91));
    border-image-slice: 1;
}
.second-section{
    text-align:center;
    margin-top: 40px;
}
.mission{
    width: 400px;
    background-color:gainsboro ;
    border: 1px solid pink;
    border-radius: 10px;
}
.mission img{
    width: 100%;
}
.vision-tag{
    width: 400px;
    background-color: grey;
    border: 1px solid pink;
    border-radius: 15px;
}
.vision-tag img{
    width: 100%;
}
.golas-tag{
    width: 400px;
    background-color: pink;
    border: 1px solid pink;
    border-radius: 10px;
}
.golas-tag img{
    width: 100%;
}
.mission-vission-goal{
    display: flex;
    justify-content:space-around;
    margin-bottom: 100px;
}
.development-sec{
    background-image: url(./images/pictures/dream-bg.png);
    background-repeat: no-repeat;
    
}
.global-comm{
    background-image:url(./images/pictures/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.bonus-part h1{
  text-align: center;
}
footer{
    background:black;
    color:white;
    text-align: center;
    padding:20px;
    margin-top: 30px;
    width: 100%;
}